<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.learn_flutter.plugins.flutter_tencent_captcha">

    <application>
        <activity
            android:name=".TencentCaptchaActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
